<a href="https://colab.research.google.com/github/parkmonty/W_Pile/blob/main/lec03_Pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')

- 필요한 라이브러리 import
- seaborn 라이브러리 내 데이터 분석에 자주 사용되는 샘플 데이터셋 존재

## 1. 데이터 살펴보기

In [ ]:
df.head() # 5번째 줄까지 출력

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.info() # 데이터 칼럼의 대략적인 정보 출력

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
df.describe() # 데이터 칼럼 별 통계 출력

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## 2. 데이터 합치기 (concat, merge)

### 2.1. 행 기준으로(위아래로) 합치기

In [ ]:
df1, df2 = df.loc[:400], df.loc[400:]

In [ ]:
df1

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,0,3,female,31.0,0,0,7.8542,S,Third,woman,False,NaN,Southampton,no,True
397,0,2,male,46.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
398,0,2,male,23.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
399,1,2,female,28.0,0,0,12.6500,S,Second,woman,False,NaN,Southampton,yes,True
400,1,3,male,39.0,0,0,7.9250,S,Third,man,True,NaN,Southampton,yes,True

In [ ]:
df2

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
400,1,3,male,39.0,0,0,7.9250,S,Third,man,True,NaN,Southampton,yes,True
401,0,3,male,26.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
402,0,3,female,21.0,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
403,0,3,male,28.0,1,0,15.8500,S,Third,man,True,NaN,Southampton,no,False
404,0,3,female,20.0,0,0,8.6625,S,Third,woman,False,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

- concat 함수를 테스트하기 위해 원본 데이터프레임을 임의로 나눔

In [ ]:
df_concat = pd.concat([df1, df2])
df_concat

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

- concat 함수는 단순히 두 데이터프레임을 위아래로 연결

### 2.2. 열 기준으로(옆으로) 합치기

In [ ]:
df1, df2 = df.iloc[:, :7], df.iloc[:, 7:]
df1.insert(0, 'passenger_id', df.index)
df2.insert(0, 'passenger_id', df.index) # 테스트를 위한 코드. 이해할 필요 X, 실행만 O.

In [ ]:
df1

     passenger_id  survived  pclass     sex   age  sibsp  parch     fare
0               0         0       3    male  22.0      1      0   7.2500
1               1         1       1  female  38.0      1      0  71.2833
2               2         1       3  female  26.0      0      0   7.9250
3               3         1       1  female  35.0      1      0  53.1000
4               4         0       3    male  35.0      0      0   8.0500
..            ...       ...     ...     ...   ...    ...    ...      ...
886           886         0       2    male  27.0      0      0  13.0000
887           887         1       1  female  19.0      0      0  30.0000
888           888         0       3  female   NaN      1      2  23.4500
889           889         1       1    male  26.0      0      0  30.0000
890           890         0       3    male  32.0      0      0   7.7500

[891 rows x 8 columns]

In [ ]:
df2

,passenger_id,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,S,Third,man,True,NaN,Southampton,no,False
1,1,C,First,woman,False,C,Cherbourg,yes,False
2,2,S,Third,woman,False,NaN,Southampton,yes,True
3,3,S,First,woman,False,C,Southampton,yes,False
4,4,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...
886,886,S,Second,man,True,NaN,Southampton,no,True
887,887,S,First,woman,False,B,Southampton,yes,True
888,888,S,Third,woman,False,NaN,Southampton,no,False
889,889,C,First,man,True,C,Cherbourg,yes,True
890,890,Q,Third,man,True,NaN,Queenstown,no,True

- 대다수의 빅데이터는 다양한 정보가 서로 다른 데이터 테이블에 담겨 있음
- 메타 데이터를 병합하는 과정이 필요
- 원본 데이터셋이 두 가지로 나뉜 데이터 테이블이었다고 가정하기 위해 임의로 나눔

In [ ]:
df_concat = pd.concat([df1, df2], axis=1)
df_concat

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,passenger_id,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,0,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,1,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,2,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,3,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,4,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,886,S,Second,man,True,NaN,Southampton,no,True
887,887,1,1,female,19.0,0,0,30.0000,887,S,First,woman,False,B,Southampton,yes,True
888,888,0,3,female,NaN,1,2,23.4500,888,S,Third,woman,False,NaN,Southampton,no,False
889,889,1,1,male,26.0,0,0,30.0000,889,C,First,man,True,C,Cherbourg,yes,True
890,890,0,3,male,32.0,0,0,7.7500,890,Q,Third,man,True,NaN,Queenstown,no,True

- concat 함수의 파라미터에 axs=1 로 설정하면 단순히 두 데이터프레임을 나란이 옆에 이어줌
- passenger_id가 두 번 등장

In [ ]:
df_merge = pd.merge(df1, df2, on='passenger_id', how='left')
df_merge

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

- merge 함수를 사용하면 SQL 문의 join과 동일한 동작 가능
- key 값을 passenger_id로 하여 join 하였으므로, 두 데이터프레임의 order가 달라도 passenger_id의 칼럼이 같은 값을 가진다면 key 값을 기준으로 병합 가능

## 3. 행, 열 삭제하기

### 3.1. 행 삭제

In [ ]:
df_drop = df.drop(0) # 인덱스 number 또는 name으로 삭제
df_drop

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df.drop_duplicates() # 서로 중복되는 행 삭제

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

### 3.2. 열 삭제

In [ ]:
df_drop = df.drop('who', axis=1) # axis=1 로 설정한 뒤 칼럼 name으로 삭제
df_drop

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,True,NaN,Queenstown,no,True

In [ ]:
df_drop = df.drop(['who', 'adult_male'], axis=1) # 입력값을 리스트로 감싸 한 번에 여러 칼럼 삭제 가능
df_drop

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,no,True

## 4. 결측값 처리하기

In [ ]:
df.isnull().sum() # 칼럼별 결측값 개수 확인

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df.dropna() # 하나라도 결측값 존재하면 그 행을 삭제

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
df = df.dropna(subset='embark_town') # subset 파라미터로 어떤 칼럼을 기준으로 결측값을 삭제할 것인지 설정 가능
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df['age'] = df['age'].fillna(df['age'].mean()) # 결측값이 있을 때 새로운 값으로 채워서 처리
df

<ipython-input-22-a2d494a60900>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df['age'].fillna(df['age'].mean()) # 결측값이 있을 때 새로운 값으로 채워서 처리

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,29.642093,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

- 결측값을 새로운 값으로 채울 때는 사용자가 임의의 값을 설정하거나 평균, 중앙값 등의 대표값을 사용

## 5. 그룹화

In [ ]:
df_group = df.groupby('sex') # 그룹 객체 만들기 (성별에 따라)

In [ ]:
df_group.get_group('female') # female 그룹만 출력

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.000000,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.000000,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.000000,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
882,0,3,female,22.000000,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
885,0,3,female,39.000000,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,29.642093,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
df_group.sum() # 그룹별 통계량 계산 가능

<ipython-input-25-e99b15c73d16>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_group.sum() # 그룹별 통계량 계산 가능

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
sex,,,,,,,,
female,231,676,8757.030913,218,204,13806.6628,0,124
male,109,1379,17594.789494,248,136,14727.2865,537,411

In [ ]:
df_group.mean()

<ipython-input-26-e413358da8e6>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_group.mean()

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
sex,,,,,,,,
female,0.740385,2.166667,28.067407,0.698718,0.653846,44.252124,0.000000,0.397436
male,0.188908,2.389948,30.493569,0.429809,0.235702,25.523893,0.930676,0.712305

## 6. 칼럼 변경하기

In [ ]:
df.rename(columns={'pclass': 'ticket_class'}) # 칼럼 이름 변경. 'old_name': 'new_name' 으로 파라미터 설정해서 변경

,survived,ticket_class,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,29.642093,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df['age'] = df['age'].astype('int64') # 칼럼 타입 변경. float 타입을 int로 변경하는 사례.
df

<ipython-input-28-d365ec19fb76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df['age'].astype('int64') # 칼럼 타입 변경. float 타입을 int로 변경하는 사례.

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,29,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

## 7. apply 함수

In [ ]:
def change_class_name(class_name):
  if class_name == 'First':
    return '1st'
  elif class_name == 'Second':
    return '2nd'
  else:
    return '3rd'

In [ ]:
df['class'] = df['class'].apply(change_class_name)
df

<ipython-input-30-8c3dfebae671>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class'] = df['class'].apply(change_class_name)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22,1,0,7.2500,S,3rd,man,True,NaN,Southampton,no,False
1,1,1,female,38,1,0,71.2833,C,1st,woman,False,C,Cherbourg,yes,False
2,1,3,female,26,0,0,7.9250,S,3rd,woman,False,NaN,Southampton,yes,True
3,1,1,female,35,1,0,53.1000,S,1st,woman,False,C,Southampton,yes,False
4,0,3,male,35,0,0,8.0500,S,3rd,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27,0,0,13.0000,S,2nd,man,True,NaN,Southampton,no,True
887,1,1,female,19,0,0,30.0000,S,1st,woman,False,B,Southampton,yes,True
888,0,3,female,29,1,2,23.4500,S,3rd,woman,False,NaN,Southampton,no,False
889,1,1,male,26,0,0,30.0000,C,1st,man,True,C,Cherbourg,yes,True
890,0,3,male,32,0,0,7.7500,Q,3rd,man,True,NaN,Queenstown,no,True

- 행 단위로 반복 작업을 수행할 때, 함수를 만든 뒤 apply를 사용해 일괄 적용시킬 수 있음

## 8. 문자열 처리 함수 str
- type이 문자열인 칼럼에 대해서만 사용 가능

In [ ]:
df['embark_town'].str.contains('South') # South가 포함된 문자열인지

0       True
1      False
2       True
3       True
4       True
       ...
886     True
887     True
888     True
889    False
890    False
Name: embark_town, Length: 889, dtype: bool

In [ ]:
df[df['embark_town'].str.contains('South')] # 위의 논리식(또는 조건)을 적용해 원하는 문자열이 포함된 행만 출력할 수 있음

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22,1,0,7.2500,S,3rd,man,True,NaN,Southampton,no,False
2,1,3,female,26,0,0,7.9250,S,3rd,woman,False,NaN,Southampton,yes,True
3,1,1,female,35,1,0,53.1000,S,1st,woman,False,C,Southampton,yes,False
4,0,3,male,35,0,0,8.0500,S,3rd,man,True,NaN,Southampton,no,True
6,0,1,male,54,0,0,51.8625,S,1st,man,True,E,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,0,2,male,28,0,0,10.5000,S,2nd,man,True,NaN,Southampton,no,True
884,0,3,male,25,0,0,7.0500,S,3rd,man,True,NaN,Southampton,no,True
886,0,2,male,27,0,0,13.0000,S,2nd,man,True,NaN,Southampton,no,True
887,1,1,female,19,0,0,30.0000,S,1st,woman,False,B,Southampton,yes,True
888,0,3,female,29,1,2,23.4500,S,3rd,woman,False,NaN,Southampton,no,False

In [ ]:
df['embark_town'] = df['embark_town'].str.upper() # 대문자로 바꾸기
df

<ipython-input-33-68da3cd2f761>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['embark_town'] = df['embark_town'].str.upper() # 대문자로 바꾸기

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22,1,0,7.2500,S,3rd,man,True,NaN,SOUTHAMPTON,no,False
1,1,1,female,38,1,0,71.2833,C,1st,woman,False,C,CHERBOURG,yes,False
2,1,3,female,26,0,0,7.9250,S,3rd,woman,False,NaN,SOUTHAMPTON,yes,True
3,1,1,female,35,1,0,53.1000,S,1st,woman,False,C,SOUTHAMPTON,yes,False
4,0,3,male,35,0,0,8.0500,S,3rd,man,True,NaN,SOUTHAMPTON,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27,0,0,13.0000,S,2nd,man,True,NaN,SOUTHAMPTON,no,True
887,1,1,female,19,0,0,30.0000,S,1st,woman,False,B,SOUTHAMPTON,yes,True
888,0,3,female,29,1,2,23.4500,S,3rd,woman,False,NaN,SOUTHAMPTON,no,False
889,1,1,male,26,0,0,30.0000,C,1st,man,True,C,CHERBOURG,yes,True
890,0,3,male,32,0,0,7.7500,Q,3rd,man,True,NaN,QUEENSTOWN,no,True

In [ ]:
df['embark_town'] = df['embark_town'].str.lower() # 소문자로 바꾸기
df

<ipython-input-34-165ab6882db4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['embark_town'] = df['embark_town'].str.lower() # 소문자로 바꾸기

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22,1,0,7.2500,S,3rd,man,True,NaN,southampton,no,False
1,1,1,female,38,1,0,71.2833,C,1st,woman,False,C,cherbourg,yes,False
2,1,3,female,26,0,0,7.9250,S,3rd,woman,False,NaN,southampton,yes,True
3,1,1,female,35,1,0,53.1000,S,1st,woman,False,C,southampton,yes,False
4,0,3,male,35,0,0,8.0500,S,3rd,man,True,NaN,southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27,0,0,13.0000,S,2nd,man,True,NaN,southampton,no,True
887,1,1,female,19,0,0,30.0000,S,1st,woman,False,B,southampton,yes,True
888,0,3,female,29,1,2,23.4500,S,3rd,woman,False,NaN,southampton,no,False
889,1,1,male,26,0,0,30.0000,C,1st,man,True,C,cherbourg,yes,True
890,0,3,male,32,0,0,7.7500,Q,3rd,man,True,NaN,queenstown,no,True

- 이외에도 str 함수는 공백을 기준으로 문자열을 나누는 split, 합치는 strip, 특정 문자열을 대체하는 replace 등 다양한 함수 존재
- 텍스트 데이터를 pandas로 다룰 때 편리하게 쓰이는 함수